In [1]:
import pandas as pd

In [64]:
data = pd.read_excel('output_power.xlsx',index_col=0)
df = pd.DataFrame(data)

In [65]:
df.head()

           V       AP     RH      PE
AT
14.96  41.76  1024.07  73.17  463.26
25.18  62.96  1020.04  59.08  444.37
5.11   39.40  1012.16  92.14  488.56
20.86  57.32  1010.24  76.64  446.48
10.82  37.50  1009.23  96.62  473.90

In [66]:
df.tail()

           V       AP     RH      PE
AT
16.65  49.69  1014.01  91.00  460.03
13.19  39.18  1023.67  66.78  469.62
31.32  74.33  1012.92  36.48  429.57
24.48  69.45  1013.86  62.39  435.74
21.60  62.52  1017.23  67.87  453.28

In [67]:
df.shape

(9568, 4)

In [68]:
#split Data

In [69]:
x = df.drop('PE',axis=1)
y = df['PE']

In [70]:
#train_test_split

In [71]:
from sklearn.model_selection import train_test_split

In [97]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(7654, 3)
(1914, 3)
(7654,)
(1914,)

In [98]:
#feature scaling

In [99]:
from sklearn.preprocessing import StandardScaler

In [100]:
sc = StandardScaler()
sc.fit(x_train)
x_train_fr = sc.transform(x_train)
x_test_fr = sc.transform(x_test)

In [101]:
#model training

In [105]:
from sklearn.linear_model import LinearRegression

In [108]:
lr = LinearRegression()
lr.fit(x_train_fr,y_train)

LinearRegression()

In [109]:
lr.score(x_test_fr,y_test)

0.8033292150759014

In [129]:
y_pred_lr = lr.predict(x_test_fr)
y_pred_lr

array([428.04786231, 465.78652961, 473.08155947, ..., 472.09747984,
       453.03625678, 465.42213666])

In [130]:
y_test

AT
28.66    431.23
17.48    460.01
14.86    461.14
22.46    445.90
18.38    451.29
          ...
16.63    460.29
16.45    452.42
12.24    473.26
27.28    438.00
17.28    463.28
Name: PE, Length: 1914, dtype: float64

In [139]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [140]:
mse_lr = mean_squared_error(y_test,y_pred_lr)
rmse_lr = np.sqrt(mse_lr)

print("MSE= ", mse_lr)
print("RMSE= ",rmse_lr)

MSE=  57.52381218899959
RMSE=  7.584445410773262

In [141]:
from sklearn.tree import DecisionTreeRegressor

In [169]:
dtr = DecisionTreeRegressor()
dtr.fit(x_train_fr,y_train)

DecisionTreeRegressor()

In [170]:
dtr.score(x_test_fr,y_test)

0.8806119474248426

In [171]:
y_pred_dtr = dtr.predict(x_test_fr)
y_pred_dtr

array([432.84, 458.53, 469.73, ..., 471.43, 439.5 , 463.2 ])

In [172]:
y_test

AT
28.66    431.23
17.48    460.01
14.86    461.14
22.46    445.90
18.38    451.29
          ...
16.63    460.29
16.45    452.42
12.24    473.26
27.28    438.00
17.28    463.28
Name: PE, Length: 1914, dtype: float64

In [173]:
mse_dtr = mean_squared_error(y_test,y_pred_dtr)
rmse_dtr = np.sqrt(mse_dtr)

print("MSE= ", mse_dtr)
print("RMSE= ",rmse_dtr)

MSE=  34.91955308254962
RMSE=  5.909276866296723

In [174]:
from sklearn.ensemble import RandomForestRegressor

In [175]:
rfr = RandomForestRegressor(n_estimators=100, criterion='mse')
rfr.fit(x_train,y_train)

RandomForestRegressor()

In [176]:
rfr.score(x_test,y_test)

0.9400285018481991

In [177]:
y_pred_rfr = rfr.predict(x_test)

In [178]:
mse_rfr = mean_squared_error(y_test,y_pred_rfr)
rmse_rfr = np.sqrt(mse_rfr)

print("MSE= ", mse_rfr)
print("RMSE= ",rmse_rfr)

MSE=  17.540933686253968
RMSE=  4.188189786322244